:root {
    --primary: #52602e;
    --secondary: #567741;
  }
  
  .nav-link {
    font-weight: 600;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
  }
  
  @media (min-width: 1024px) {
    .nav-link { 
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
  
  .nav-link:hover { 
    background-color: #567741;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }
  