:root {
  --primary-color: #52602E;
  --secondary-color: #567741;
  --text-color: white;
  --bg-color: #0C0A09;
}

.about-section { 
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 14rem 1rem;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.profile-image {
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  overflow: hidden;
}

.image-style {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.about-text {
  text-align: center;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
}

.highlight {
  color: var(--primary-color);
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
}

.cards-container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  height:auto ;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card1 {
  background-color: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: transform 0.3s;
  width: 100%;
  max-width: 300px;
}

.primary-icon{
  background-color: var(--primary-color);
}
.card1:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon-container1 {
  width: 2.8rem; /* Equal width */
  height: 2.2rem; /* Equal height */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: var(--primary-color); /* Circle background */
  color: var(--text-color); /* Circle text color */
  border-radius: 50%; /* Ensures a perfect circle */
  margin-right: 1rem; /* Add space on the right */
  box-sizing: border-box; /* Include padding/border in dimensions */
  overflow: hidden; /* Ensure no content spills out */
}
.icons1 {
  width: 1.5rem;
  height: 1.5rem;
}


.icon-container2 {
  width: 3.75rem; /* Equal width */
  height: 2.4rem; /* Equal height */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color:#567741 ; /* Circle background */
  color: var(--text-color); /* Circle text color */
  border-radius: 50%; /* Ensures a perfect circle */
  margin-right: 1rem; /* Add space on the right */
  box-sizing: border-box; /* Include padding/border in dimensions */
  overflow: hidden; /* Ensure no content spills out */
}
.secondary-icon {
  background-color:#567741 ;
}

.icons2{
  width: 1.3rem;
  height: 1.3rem;
}
.icon-container3 {
  width: 2.2rem; /* Equal width */
  height: 2.2rem; /* Equal height */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: var(--primary-color); /* Circle background */
  color: var(--text-color); /* Circle text color */
  border-radius: 50%; /* Ensures a perfect circle */
  margin-right: 1rem; /* Add space on the right */
  box-sizing: border-box; /* Include padding/border in dimensions */
  overflow: hidden; /* Ensure no content spills out */
}


.icons3{
  width: 1.3rem;
  height: 1.3rem;
}
.secondary-icon {
  background-color: var(--secondary-color);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .about-header {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-text {
    text-align: left;
  }

  .cards-container {
    gap: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .about-title {
    font-size: 4rem;
    font-weight: 800;
  }

  .about-description {
    font-size: 1.125rem;
  }

  .card {
    max-width: 350px;
  }
}