.infoSection {
  color: white;
  background-color: #0C0A09;
  font-family: 'YourBodyFont', sans-serif;
  padding-top: 8rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .content {
    width: 50%;
    text-align: left;
    align-items: flex-start;
  }
}

.title-name {
  font-family: 'YourTitleFont', sans-serif;
  font-size: 3rem;
  font-weight:bolder;
  color: #ffffff;
}

@media (min-width: 640px) {
  .title-name {
    font-size: 4rem;
  }
}

.subtitle {
  font-size: 1.75rem;
  font-weight: bolder;
  padding-top: 0px;
  color: #ffffff;
}

@media (min-width: 640px) {
  .subtitle {
    font-size: 2rem;
  }
}

.highlight {
  color: #567741;
}

.descriptions {
  max-width: 40rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #d1d5db;
  margin-bottom: 2rem;
  padding-top: 0px;
}

.hireButton {
  font-weight: bold;
  color: #ffffff;
  background-color: #52602E;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 0px 2px 6px rgba(86, 119, 65, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.hireButton:hover {
  background-color: #567741;
  box-shadow:  0px 2px 6px rgba(86, 119, 65, 1);
  transition: all 300ms ease-in-out; 
}